.cat-card:hover {
    background-color: rgb(213, 210, 210);
}

.cat-card {
    height: 130px;
    background-color: rgb(173, 167, 167);
    /* overflow: hidden; */
}

.cat-btn {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 40px;
    color: black;
    font-weight: bold;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .cat-btn {
        font-size: 1rem;
        /* word-break: break-all !important; */
    }
}